.container {
	width: 622px;
	height: 438px;
	background: var(--unnamed-color-eb3349) 0% 0% no-repeat padding-box;
	background: #eb3349 0% 0% no-repeat padding-box;
	border-radius: 15px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.time {
	color: #ffffff;
	font: normal normal normal 160px/190px Helvetica Neue;
}
